<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.611874724991-8t4i609dr1o53f4c5aif0eesoib5loe6</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>611874724991-8t4i609dr1o53f4c5aif0eesoib5loe6.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchscreen</string>
	</dict>
</dict>
</plist>
